/* Basic styling for the navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar.light {
  background-color: white;
  color: black;
}

.navbar.dark {
  background-color: black;
  color: white;
}

button{
  background-color: red;
}

